
.calc-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 8px;
    background-color: #353434;
    border-radius: 2px;
    color: 353434;
}

.calc-display {
    height: 100px;
    width: 442px;
    background-color: lightgrey;
    border: 3px solid black;
    margin-bottom: 10px;
}

.button-row {
    display: flex;
}

.button {
    height: 80px;
    width: 112px;
    background-color: lightslategray;
    border: 3px solid black;
    border-radius: 3px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    flex: auto;
}

.function {
    background-color: lightsteelblue;
}

.operator {
    background-color: lightsalmon
}